* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(230, 221, 221);
    display: block; 
}
#game-intro{
    text-align: center;
    padding: 10px;
}
#game-area{
    position: relative;
    width: 95vw;
    height: 760px;
    /*background-color: cornflowerblue;*/
    background-image: url('../media/ruincity_760.png');
    background-repeat: no-repeat;
    background-size: cover; 
}
#game-ground {
    margin: 0 auto;
    width: 95vw;
    height: 40px;
    position: absolute;
    bottom: 100px;
    background-color: rgb(31, 78, 52);
}
#tank-control {
    width: 95vw;
    height: 100px;
    background-color: brown;
    position: absolute;
    bottom: 0;
    padding: 5px;
    color: white;
    font-size: 1.5em;
}
#player-tank {
    padding: 0;
    position: absolute;
    bottom: 180px;
    border: 2px solid gold;
    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
    
}
#tank-magazine {
    display: inline-flex;   
    background-color: rgb(27, 26, 26);
    
}

.shell {
    width: 20px;
    height: 40px;
    background-color: red;
    position: absolute;
}

.enemy{
    pointer-events: none;
    border: 2px solid red;
    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}