* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(230, 221, 221);
    display: block; 
}
#game-intro{
    text-align: center;
    padding: 10px;
}
#game-area{
    margin: 0 auto;
    position: relative;
    width: 100vw;
    height: 760px;
    /*background-color: cornflowerblue;*/
    background-image: url('../media/bg.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover; 
}
#game-ground {
    width: 100vw;
    height: 40px;
    position: absolute;
    bottom: 100px;
    background-color: rgb(31, 78, 52);
}
#tank-control {
    width: 100vw;
    height: 100px;
    background-color: brown;
    position: absolute;
    bottom: 0;
    padding: 5px;
    color: white;
    font-size: 1.5em;
}
#player-tank {
    padding: 0;
    position: absolute;
    bottom: 180px;
    border: 2px solid gold;
}
.shell {
    width: 20px;
    height: 40px;
    background-color: red;
    position: absolute;
}

.enemy{
    border: 2px solid red;
}